body {
  min-width: 600px;
}

.photo-menu-container {
  width: 600px;
  margin: 0px auto;
}

h1 {
    text-align: center;
    opacity: .75;
}

a {
    font-style: italic;
    font-family: Times;
    color: black;
    text-decoration: none;
}

.photo-menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.caption {
  margin: 6px 0px;
}

.homepage-menu ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
    text-decoration: underline;
}

.homepage-menu li {
    opacity: .75;
}

.content {
  padding: 0 20px;
}

.footer-menu li, .photo-menu li {
   float: left;
   display: block;
   width: 60px;
   text-align: center;
   opacity: .8;
}

.footer-menu li:hover, .photo-menu li:hover, .homepage-menu li:hover {
  cursor: pointer;
  opacity: 1;
}

.footer {
   position: fixed;
   bottom: 20px;
   left: 50%;
   transform: translate(-50%, 0);
}

.footer-menu li {
   text-decoration: underline;
   font-style: italic;
   font-size: 15px;
   background-color: white;
   padding: 6px 3px;
}

.home-button {
  position: fixed;
  right: 5px;
  top: 5px;
}

.home-button a {
  opacity: .8;
  background-color: white;
  padding: 6px 5px;
  text-decoration: underline;
}

.home-button a:hover {
  opacity: 1;
}

.about, .credits {

  max-width: 600px;
  margin: 0 auto;

}
